{% extends "oficina/inicio_oficina.html" %} {% block titulo %} Registrar Oficinas {% endblock %} 

{% block body %}
<h2 class="my-4 text-center">Registro de Oficinas</h2>
<form class="row g-3" action="crear_oficina" method="post"> {% csrf_token %}

    <div class="col-md-6">
      <label for="nro_article" class="form-label">Numero del Articulo</label>
      <input type="text" class="form-control" id="nro_article" name="nro_article">
    </div>
    <div class="col-md-6">
      <label for="name_article" class="form-label">Nombre del Articulo</label>
      <input type="text" class="form-control" id="name_article" name="name_article">
    </div>
    <div class="col-6">
      <label for="location" class="form-label">Localización</label>
      <input type="text" class="form-control" id="location" name="location">
    </div>
    <div class="col-6">
      <label for="stock" class="form-label">Stock</label>
      <input type="text" class="form-control" id="stock" name="stock">
    </div>
    <div class="col-md-12">
      <label for="description" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary">Registrar </button>
    </div>
</form>
{% endblock %}
